@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 220px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
.card-icon{
  background-image: linear-gradient(140deg, rgba(13, 110, 253, 0.8)52%,rgba(226, 78, 169, 0.356));
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.52);

}
.card-icon i{
  font-size: 40px;
  font-weight: bolder;
}
.card-icon-head p{
  font-size: 16px;
  font-weight: 300;
}
.card-icon-count{
  font-weight: 600;
  font-size: 20px;

}
.active{
  border-left: 4px solid #fff;
  background-color: #000 !important;
}
.navbar-dark .navbar-toggler-icon{
  background-image: none !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link{
  transition: all 0.3s linear;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  background-color: #000;
  color: #fff !important;
}

.profile-header{
  background-image: linear-gradient(135deg,rgba(87, 95, 207,0.5),rgba(11, 232, 129,0.6));
  height: 150px;
}
.profile-body{
  position:relative;
  
}
.profile-picture{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  left: 32%;
  top: -30%;
  /* background-color: blue; */
}
.profile-picture img{
  border-radius: 50%;
}
.profile-text{
  margin-top: 75px;
}
.social-media-icon{
  font-size: 22px;
}
.social-media-icon a{
  transition: all 0.2s linear;
}
.social-media-icon a:hover{
  transform: scale(1.2);
}
.social-media-icon a:nth-child(1){
  color: #1877F2;
}
.social-media-icon a:nth-child(2){
  color: #0A66C2;
}
.social-media-icon a:nth-child(3){
  color: #CD201F;
}
.social-media-icon a:nth-child(4){
  color: #131418;
}
.card-footer .btn{
  transition: .3s;
}
.card-footer .btn:hover{
  letter-spacing: 2px;
}
/* .profile-information .info-header a{
  position: relative;
}
.profile-information .info-header a{
  content: "";
  background-color: blueviolet;
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s linear;
}
.profile-information .info-header a:hover{
  width: 95%;
  background-color: blueviolet;
} */
/* .info-header{
  padding: 0 !important;
} */
.info-header p{
  border-left: 4px solid blueviolet;
  padding-left: 5px;
}
.form-label{
  font-size: 13px;
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
